.calendarWrapper {
  padding: 15px;
  color: rgba(47,106,135);
  text-align: center;
  font-weight: 500;
}
.calendarHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.calendarHeader h2 {
  color: white;
  font-weight: 700;
}
.calendarWeekdays{
  margin-top: 10px;
  color: white;
}
.calendarGrid {
  margin-top: 12px;
}
.calendarWeekdays,
.calendarGrid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendarWeekday {
  font-weight: bold;
  padding: 5px 0;
  border-bottom: 1px solid rgba(47,106,135);
}

.calendarDay {
  padding: 10px;
  margin: 2px;
  background-color: white;
  border: 1px solid rgba(47,106,135);
  border-radius: 8px;
  transition: background-color 0.2s;
}

.calendarDay:hover {
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
}

.today {
  background-color: #ffc107;
  outline: 3px solid rgba(234,108,54);
  color: black;
  font-weight: bold;
  z-index: 2;
}
.navBtn{
  border: 0;
  padding:0 10px 4px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendarDay.selectedDay {
  background-color: #4caf50; /* or whatever color */
  outline: 3px solid #378739;
  color: white;
}

.calendarDay.hasTodos {
  background-color: #6eb2cc; /* light green */
  color: white;
}

.calendarDay.hasTodos:hover {
  background-color: #558da3; /* darker green on hover */
}
.hasTodo {
  background-color: #ffe066; /* yellow highlight */
  border-radius: 50%;
  color: black;
  font-weight: bold;
}
