.container {
   background-image: linear-gradient(
    to bottom,
    rgba(110, 178, 204),
    rgb(234, 108, 54)
  );
  min-width: calc(100vw);
  min-height: 98vh;
  display: grid;
  padding: 15px 50px;
  grid-template-columns: 1.4fr 0.8fr 1fr;
  grid-template-rows: 0.4fr 1.8fr 1.5fr 1fr;
  gap: 20px 20px;
  grid-auto-flow: row;
  grid-template-areas:
    "quote quote quote"
    "calendar todo todo "
    ". todo todo "
    ". . .";
}

.quote {
  grid-area: quote;
}

.todo {
  grid-area: todo;
  background-color: white;
  border-radius: 15px;
  height: 700px;
  overflow: auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}
.todo::-webkit-scrollbar {
  width: 6px;
}

.todo::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 8px;
}

.todo::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.todo::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.calendar {
  grid-area: calendar;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  max-width: 550px;
  width: 100%;
  height: 400px;
  justify-self: center; /* horizontally center */
  align-self: center; 
}

@media (max-width: 900px) {
  .container {
    padding: 15px 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "quote"
      " calendar "
      " todo "
      "todo"
      ;
  }
}
/* ======== Boady ============ */
.listBody{
 padding: 15px;
}
/* ======== quote ============ */
.quote{
  display: flex;
  justify-content: center;
  align-items: center;
}
.quote span{
  color: white;
  font-weight: 700;
  font-size: clamp(16px, 2vw + 16px, 30px);
}

/* ======== todo ============ */
.todoFixWrap{
  padding-top: 15px;
  z-index: 2;
  position: sticky;
  top: 0;
  background-color: white;
}
.exerciseNum{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  font-weight: 500;
}
.exerciseNumRow{
  display: flex;
  align-items: center;
  gap: 15px;
}
.todoBtn{
  min-width: 110px;
  width: 20%;
  padding: 15px 0;
  font-size: clamp(15px, 2vw + 10px, 20px);
}
.todoBtnWrap{
  display: flex;
  justify-content: center;
  gap: 1px;
}
.todoBtn:nth-child(1){
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.todoBtn:nth-child(2){
  border-radius: 0;
}
.todoBtn:nth-child(3){
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}      
.todoItem{
  color: black;
  margin-top: 15px;
  margin-left: 10px;
}
.hpCheck{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.hpCheck span{
  color: black;
  font-weight: 500;
}

.contentRow{
  margin-top: 10px;
  width: 100%;
}
.deleteBtn{
  padding: 4px 3px 0 3px;
  background-color: transparent;
  color: black;

}
.deleteBtn:hover{
  background-color: none;
  color: white;
  transform: translateY(-2px);
}