.auth-container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
    to bottom,
    rgba(110, 178, 204),
    rgb(234, 108, 54)
  );
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 400px;
    width: 80vw;
    max-width: 1000px;
    background-color: white;
    border-radius: 15px;
    
}
.content h2{
   color: rgba(47, 106, 135);
   font-size: 25px;
   font-weight: 500;
}